.post {
  padding: 3rem 0;

  &-info {
    color: var(--default-tint);
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: var(--default-shade);
    font-family: $sans-serif;
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid orange;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: var(--default-tint);
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  // CSS for figure alignment
  figure.left {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    
    img {
      margin-left: 0;
      margin-right: auto;
    }
  }

  figure.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  figure.right {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    
    img {
      margin-left: auto;
      margin-right: 0;
    }
  }

  figure.inline {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    
    img {
      margin: 0;
    }
  }

  .small-font75 {
    pre code {
      font-size: 75% !important;
    }
  }

  .small-font50 {
    pre code {
      font-size: 50% !important;
    }
  }
}
